<dom-module id="results-cells-styles"><template><style>
/* top | right | bottom | left */
:host {
  display: block;
  box-sizing: border-box;
  --image-container-padding: 0em 0em 0em 0em;
  --image-container-padding-left: 1rem;
  font-family: var(--cells-fontDefault, sans-serif);
  @apply --results-cells; }

.results-title {
  display: var(--results-title-display, flex); }

div.results-title h3.title {
  color: var(--results-title-color, black);
  font-weight: var(--results-container-title-font-weight, 500);
  padding-left: var(--results-title-padding-left, 2em); }

.results-container {
  margin-top: var(--results-container-margin-top, 0.8em);
  display: var(--results-container-display, inline-flex);
  @apply --results-cells; }

multiple-icons {
  margin-right: var(--results-container-icons-margin-right, 0.8em); }

image-container {
  padding-left: var(--results-image-container-padding-left, 2em);
  @apply --results-container; }

@media (max-width: 360px) {
  .results-container {
    --results-container-display: block;
    @apply --results-container; }
  multiple-icons {
    --results-container-icons-margin-right: 0;
    @apply --results-container; }
  image-container {
    --results-image-container-padding-left: none;
    @apply --results-container; } }

:host([hidden]), [hidden] {
  display: none !important; }

*, *:before, *:after {
  font: inherit;
  box-sizing: inherit; }

</style></template></dom-module>