<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../image-container/image-container.html">
<link rel="import" href="../multiple-icons/multiple-icons.html">
<link rel="import" href="../cells-pagination/cells-pagination.html">
<link rel="import" href="results-cells-styles.html">
<dom-module id="results-cells">
  <template>
      <style include="results-cells-styles"></style>
      <div class="results-title">
        <h3 class="title">Resultados</h3>
      </div>

      <template is="dom-repeat" items="{{results}}"> 
        <div class="results-container">
        <image-container
        src='[[item.src]]'
        ></image-container>     
        <multiple-icons
        description="[[item.description]]"
        icons='[[item.icons]]'
        ></multiple-icons>
      </div>
      </template>

      <div style="margin: 25px">
        <cells-pagination class$="dark" collection-size="70"></cells-pagination>
      </div>
  </template>
  <script src="results-cells.js"></script>
</dom-module>
